name: Cypress Tests

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Start the application
        run: npm start &
        env:
          CI: true

      - name: Wait for application to be available
        run: npx wait-on http://localhost:3000
        # Asegúrate de cambiar el puerto a donde corre tu aplicación

      - name: Run Cypress tests
        run: npx cypress run --headless